/*Project Styles*/

body{
  margin: 100px auto;
  color: white;
  background-color: #adb8db;
  box-sizing:border-box;
}

p {
  font: 1em 'Raleway', sans-serif;
}

h1, h2, h3, {
  font: 2em 'Open Sans', sans-serif;
}


/*#home styles*/
 .navbar{
  background-color: #1e3a6b;
 }

 .navbar a {
   display: inline;
 }


 .navbar a:hover{
   background-color: white;
 }

 /*________________________+*/

.me {
  max-width: 40%;
  max-height: 40%;
  margin: 20px;
}

/*________________________+*/

.jumbotron {
  padding: 50px;
  background-color: #1e3a6b;
  -webkit-box-shadow: 10px 10px 5px 0px rgba(42,62,161,1);
 -moz-box-shadow: 10px 10px 5px 0px rgba(42,62,161,1);
 box-shadow: 10px 10px 5px 0px rgba(42,62,161,1);
}

.jumbotron p {
  margin-top: 50px;
}

.jumbotron h3 {
  margin: 25px;

}

/*#Project styles*/

#Projects{
 text-align: center;
}

#Projects img {
  max-width: 50%;
  max-height: 50%;
  margin: 10px;
  padding: 20px;
}

#Projects h1 {
  margin-top: 50px;
}

 #Projects h3 {
  margin: 50px 0 50px 0;
}

.project {
 margin: 50px 0 50px 0;
 background-color: #1e3a6b;
 -webkit-box-shadow: 10px 10px 5px 0px rgba(42,62,161,1);
-moz-box-shadow: 10px 10px 5px 0px rgba(42,62,161,1);
box-shadow: 10px 10px 5px 0px rgba(42,62,161,1);
}

.project p {
  margin: 0 auto 25px auto;
  width: 500px;
}


/*#ContactMe Styles*/


#ContactMe p {
  margin: 30px 0 50px 0 ;
}

#ContactMe h1 {
  text-align: center;
  margin: 25px;
}

/*________________________*/

.contactinfo {
  background-color: #1e3a6b;
  -webkit-box-shadow: 10px 10px 5px 0px rgba(42,62,161,1);
 -moz-box-shadow: 10px 10px 5px 0px rgba(42,62,161,1);
 box-shadow: 10px 10px 5px 0px rgba(42,62,161,1);
}

/*________________________+*/

.links  {
  border-right: thick dotted;

}

.links .row {
  margin-right: 25px;
}

.col-md-6 a{
  padding-bottom: 20px;
}

.links a {
  padding:30px;
  margin: 0 10px 10px 0;
  font-size: 30px;
}

.findme {
  margin: 0 25px 100px 25px;
}

/*________________________+*/

.contactform{
 margin-left:25px;
}

.form input, textarea {
  background-color: #1e3a6b;
  margin: 20px;
  padding: 2px;
  outline: none;
  border: none;
  color: white;
  border-bottom: thick dotted;
}

.form label {
  margin: 20px;
}

.form input {
  width: 200px;
}

.form textarea {
  width: 300px;
}

.form button {
  border: none;
  width: 100px;
  padding: 10px;
  margin: 20px;
  background-color: white;
}
