/*Project Styles*/

body{
  margin: 100px auto;
  color: white;
  background-color: #adb8db;
  box-sizing:border-box;
}


/*#home styles*/
 nav {
  background-color: #1e3a6b;
 }

 nav a {
   display: inline;
 }


 nav a:hover{
   background-color: white;
 }

.me {
  max-width: 40%;
  max-height: 40%;
  margin: 20px;
}

.jumbotron {
  padding: 50px;
  background-color: #1e3a6b;
  -webkit-box-shadow: 10px 10px 5px 0px rgba(42,62,161,1);
 -moz-box-shadow: 10px 10px 5px 0px rgba(42,62,161,1);
 box-shadow: 10px 10px 5px 0px rgba(42,62,161,1);
}

.jumbotron p {
  margin-top: 75px;
}

.jumbotron h3 {
  margin: 25px;

}

/*#Project styles*/

#Projects{
 text-align: center;
}

#Projects img {
  max-width: 50%;
  max-height: 50%;
  margin: 10px;
  padding: 20px;
}

#Projects h1 {
  margin-top: 50px;
}

 #Projects h3 {
  margin: 50px 0 50px 0;
}

.project {
 margin: 50px 0 50px 0;
 background-color: #1e3a6b;
 -webkit-box-shadow: 10px 10px 5px 0px rgba(42,62,161,1);
-moz-box-shadow: 10px 10px 5px 0px rgba(42,62,161,1);
box-shadow: 10px 10px 5px 0px rgba(42,62,161,1);
}

.project p {
  margin: 0 auto 25px auto;
  width: 500px;
}


/*#ContactMe Styles*/

.links  {
  border-right: thick dotted;
}

#ContactMe{
  background-color: #1e3a6b;
  -webkit-box-shadow: 10px 10px 5px 0px rgba(42,62,161,1);
 -moz-box-shadow: 10px 10px 5px 0px rgba(42,62,161,1);
 box-shadow: 10px 10px 5px 0px rgba(42,62,161,1);
}

#ContactMe p {
  margin: 20px 0 50px 0 ;
}

.links a {
  padding: 30px;
  font-size: 30px;

}

.contactform{
 margin-left:75px;
}

.form input, textarea {
  background-color: #1e3a6b;
  margin: 20px;
  padding: 2px;
  outline: none;
  border: none;
  color: white;
  border-bottom: thick dotted;
}

.form label {
  margin: 20px;
}

.form input {
  width: 300px;
}

.form textarea {
  width: 500px;
}

.form button {
  border: none;
  width: 100px;
  padding: 10px;
  margin: 20px;
  background-color: white;
}
